.weather-bg {
  background: url("https://img.freepik.com/free-photo/sky-clouds-background_1127-3836.jpg?w=1060&t=st=1663710471~exp=1663711071~hmac=e489858a3cd34e32655dad69d992c2320ca21d17805185c13c85fec2eb52ee80");
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
}
.weatherResultBox {
  margin: auto;
  width: 500px;
  height: 300px;
  background-color: rgb(247, 250, 252);
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.weatherIcon {
  width: 200px;
  height: 140px;
}
.weatherCity {
  font-size: 35px;
}
.weatherTemp {
  font-size: 55px;
  font-weight: 700px;
}

